<h1>About</h1>

<h4>All About Nepal</h4>

<p>
 The Dhaulagiri massif in Nepal extends 120 km (70 mi) from the Kaligandaki River west to the Bheri. 
 This massif is bounded on the north and southwest by tributaries of the Bheri River and on the southeast by Myagdi Khola.
 Dhaulagiri I is the seventh highest mountain in the world at 8,167 metres (26,795 ft) above sea level. It was first climbed on May 13, 1960 by a Swiss/Austrian/Nepali expedition.
The mountain's name is धौलागिरी (dhaulāgirī) in Nepali
. This comes from Sanskrit where धवल (dhawala) means dazzling, white, beautiful[3] and गिरि (giri) means mountain.[4] Dhaulagiri  is also the highest point of the Gandaki river basin.

Annapurna I (8,091m/26,545 ft) is 34 km. east of Dhaulagiri I. 
The Kali Gandaki River flows between the two in the Kaligandaki Gorge, said to be the world's deepest.[citation needed] The town of Pokhara is south of the Annapurnas, 
an important regional center and the gateway for climbers and trekkers visiting both ranges as well as a tourist destination in its own right.
</p>

<p>
 Machapuchare, Machhapuchchhre or Machhapuchhre (from Nepali माछापुच्छ्रे, meaning 'fishtail'), is a mountain in the Annapurna Himalayas of north central Ne
 pal. It is revered by the local population as particularly sacred to the god Shiva, and hence is off limits to climbing.
</p>

<p>
  Baglung, is a municipality in western Nepal, 275 km west of Kathmandu. 
  It is the administrative headquarters of Baglung District and Dhaulagiri Zone. 
  Baglung serves as the major center for business, finance, education, service and healthcare for the people of mid-Kali Gandaki valley 
  that encompass Beni, Jaljala, Baglung, Kushma, Kathekhola, Galkot, Phalewas and Jaimuni local bodies. The city is located at the cross-section of Kaligandaki corridor highway and
  midhill highway that transverse Nepal in north-south and east-west directions respectively.

</p>