$primary-font: 'Poppins', sans-serif;  
 $footer-height: 45px; 

.navbar-default {
  font-family: $primary-font;
}

.Shisir{margin:5%;
padding:auto;
float:left;
color:purple;
font-size:50px;}


.sen{margin:10%;
     padding-left:35%;
     float:left;
     color:purple;
     font-size:20px;}
.btnbtn-primarybtn-lg{font-size:50px;}
/*.navbar-brand1{
    margin-top:-30%;
    padding-top:60px;
    padding-right:150px;
    padding-left:250px;
    padding-bottom:350px;
    float:left;
    color:green;
    font-size:25px;
    border-width: 5px;
}
.navbar-brand2{
    margin-top:-30%;
    padding-right:5px;
    float:left;
    color:black;
    font-size:25px;
    float:right;
}
.navbar-brand3{
    margin:-30%;
    float:left;
    padding-top:15px;
    padding-left:75px;
    color:brown;
    font-size:25px;
}
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -$footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}


.footer {
  height: $footer-height;
}